<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>王振清</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/spring-mybatis-mvc/"/>
    <!-- basic styles -->
    <link href="static/ace/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="static/ace/css/font-awesome.min.css"/>
    <!--[if IE 7]>
    <link rel="stylesheet" href="static/ace/css/font-awesome-ie7.min.css"/>
    <![endif]-->
    <!-- page specific plugin styles -->
    <!-- fonts -->
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />-->
    <!-- ace styles -->
    <link rel="stylesheet" href="static/ace/css/ace.min.css"/>
    <link rel="stylesheet" href="static/ace/css/ace-rtl.min.css"/>
    <link rel="stylesheet" href="static/ace/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="static/ace/css/dropzone.css"/>
    <link rel="stylesheet" href="static/ace/css/colorbox.css"/>
    <link rel="stylesheet" href="static/ace/css/jquery.qtip.min.css"/>
    <link rel="stylesheet" href="static/css/myplugin.css"/>


    <!--[if lte IE 8]>
    <link rel="stylesheet" href="static/ace/css/ace-ie.min.css"/>
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="static/ace/js/ace-extra.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="static/ace/js/html5shiv.js"></script>
    <script src="static/ace/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='static/ace/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
    </script>

    <!--[if IE]>
    <script type="text/javascript">
        window.jQuery || document.write("<script src='static/ace/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='static/ace/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="static/ace/js/typeahead-bs2.min.js"></script>
    <!-- page specific plugin scripts -->
    <script src="static/ace/js/jquery.colorbox-min.js"></script>
    <link rel="stylesheet" href="static/ace/css/jquery-ui-1.10.3.full.min.css"/>
    <script src="static/ace/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="static/ace/js/jquery.ui.touch-punch.min.js"></script>
    <script src="static/ace/js/jquery.qtip.min.js"></script>
    <!-- ace scripts -->
    <script src="static/ace/js/ace-elements.min.js"></script>
    <script src="static/ace/js/ace.min.js"></script>
    <!-- inline scripts related to this page -->
    <script src="static/ace/js/dropzone.min.js"></script>

    <script src="static/MyPlugin/jquery-ui.1.10.3.full.my.js"></script>
##    <script src="static/MyPlugin/jquery.myplugin.js"></script>

</head>
<body>
<div class="navbar navbar-default" id="navbar">
    <script type="text/javascript">
        try {
            ace.settings.check('navbar', 'fixed')
        } catch (e) {
        }
    </script>
    <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
					<span class="navbar-brand">
						<small>
                            王振清
                        </small>
					</span>
        </div>
    </div>
</div>

<div class="main-container-inner">
    <div class="sidebar" id="sidebar">
        <ul class="nav nav-list">
            <li>
                <a href="user_list.html">
                    <span class="menu-text"> 权限表展示 </span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        <div class="page-content">
            <div class="row">
                <div class="col-xs-12">
                    $screen_content
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(function ($) {

        try {
            $(".dropzone").dropzone({
                paramName: "file", // The name that will be used to transfer the file
                maxFilesize: 0.5, // MB

                addRemoveLinks: true,
                dictDefaultMessage: '<span class="bigger-150 bolder"><i class="icon-caret-right red"></i> Drop files</span> to upload \
<span class="smaller-80 grey">(or click)</span> <br /> \
<i class="upload-icon icon-cloud-upload blue icon-3x"></i>'
                ,
                dictResponseError: 'Error while uploading file!',

                //change the previewTemplate to use Bootstrap progress bars
                previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>"
            });
        } catch (e) {
            alert('Dropzone.js does not support older browsers!');
        }

    });
</script>

</body>
</html>
