#set($layout = "layout/layout.vm")
<style type="text/css">
    td input {
        width: 100%;
        text-align: center;
        color: red;
        font-size: larger;
    }

    td {
        text-align: center;
    }

</style>
<div id="common-notice-dialog" class="hide"></div>
<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div style="text-align: center" class="col-xs-9">
        <h3 class="header smaller lighter blue" style="margin-left: auto;margin-right: auto;">日常费用报销单</h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-xs-9" style="border:solid 1px; background-color: #f0f0f0;text-align: center;"><span
                    style="font-size:18px">个人基本信息</span></div>
            <table style="border-collapse:collapse;" border="1" class="col-xs-9"
                   id="table">
                <tr>
                    <td>姓名</td>
                    <td><input type="text" id="name"></td>
                    <td>权限</td>
                    <td><input type="text" id="admin"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <div style="float:right;margin-top:20px;margin-bottom:10px; margin-right:0;">
            <button class="btn btn-info" type="button"
                    onclick="subTableInfos();">
                <i class="icon-arrow-right bigger-110"></i>
                保存
            </button>
        </div>
    </div>
</div>
<div id="apply-result-dialog" class="hide"></div>
<script src="/spring-mybatis-mvc/static/js/utils.js"></script>
<script src="/spring-mybatis-mvc/static/js/dialog_common.js"></script>
<script src="/spring-mybatis-mvc/static/My97DatePicker/WdatePicker.js"></script>

<script language=JavaScript>

    function subTableInfos() {
        var params = {};
        params["name"] = $("#name").val();;
        params["admin"] = $("#admin").val();
        console.log(params);
        jQuery.ajax({
            contentType: "application/json; charset=utf-8",
            url: "add_data",
            type: "POST",
            data: JSON.stringify(params),
            success: function (resp) {
                console.log("aa");
                if (resp.errorCode == 0) {
                    showCommonNoticeDialog('成功', 'icon-warning-sign',
                            generateNoticeMsg("创建报销申请成功！"), 300);
                    window.location.href = 'user_list.html';
                } else {
                    showCommonNoticeDialog('失败', 'icon-warning-sign',
                            generateNoticeMsg(resp.errorMessage), 300);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                showCommonNoticeDialog('网络错误', 'icon-bolt',
                        generateNoticeMsg('网络错误，请刷新后重试!'), 300);
            }
        })
    }

</script>
