<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzq.web.dao.UserDaoMapper">
    <select id="getUserById" parameterType="int" resultType="com.wzq.web.model.User">
        SELECT * FROM t_user WHERE id=#{id}
    </select>
    <resultMap id="BaseResultMap" type="com.wzq.web.model.User">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="admin" column="admin"></result>
    </resultMap>
    <sql id="Base_Column_List">
        id,name,admin
    </sql>
    <select id="getAllUsers" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from t_user
    </select>
    <update id="setAdminById" parameterType="int">
        UPDATE t_user SET admin=#{admin} WHERE id=#{id}
    </update>
    <delete id="delUserById" parameterType="int">
        DELETE FROM t_user WHERE id=#{id}
    </delete>

    <insert id="addUser">
        INSERT INTO t_user(name, admin)
        VALUES (#{user.name}, #{user.admin})
    </insert>

</mapper>